<h1>cart</h1>
<br><br>


<ul>
<% @sum = 0 %>
  <% cart.cart_items.all.each do |item| %>

    <li>
      <label>

          <p> <%= item.menu_item_name %> <%= item.menu_item_price %> <%= item.quantity %> <%= item.quantity * item.menu_item_price %> </p>
          <%= cl_image_tag(item.item_image.key, width: 300, height: 300) %>


          <% @sum += item.quantity * item.menu_item_price %>
          <div style="display: inline-flex; border: 1px solid black;">
              <%= button_to "-", "/cart_items/#{item.id}", method: "patch", params: { "value" => "decrease" } %>
              <%= item.quantity %>
              <%= button_to "+", "/cart_items/#{item.id}", method: "patch", params: { "value" => "increase" } %>
            </div>
      </label>
    </li>
  <% end %>
</ul>
<% if @sum > 0 %>
<%= @sum %>
<% end %>
<br><br>
<%= button_to "Checkout", "/carts/#{cart.id}", method: "get" %>
