<h1>pending orders</h1>
<br><br>

<ul>
<% @sum = 0 %>
  <% @current_user.orders.pending.all.each do |order| %>

    <li>
      <label>
          <p>ordered on <%= Date.parse(order.date.to_s).to_s(:long) %> at <%= Time.parse(order.date.to_s).strftime("%I:%M %p") %></p>
          <% order.order_items.each do |item| %>
          <p> <%= item.menu_item_name %> <%= item.menu_item_price %> <%= item.quantity %> <%= item.quantity * item.menu_item_price %> </p>
          <% @sum += item.quantity * item.menu_item_price %>
          <% end %>
      </label>
    </li>
  <% end %>
</ul>
<% if @sum > 0 %>
<%= @sum %>
<% end %>
<br><br>

<%= button_to "Go back", menu_categories_path, method: "get" %>
